 body {

    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;

 }

 h1 {

    text-align: left;
    margin-bottom: 40px;
    font-family: 'Times New Roman', Times, serif;

 }

 header {

    background-color: #1B4079;
    color: white;
    padding: 1px 0;
    text-align: center;

 }

 .lista {

    list-style: none;
    padding: 20px;
    margin: 10px 0 0;
    margin-bottom: 80px;

 }

 .l1 {

    border: solid 3px black;

 }

 .l2 {

    border: solid 3px black;

 }

 .l3 {

    border: solid 3px black;

 }



 nav ul li {

    display: inline;
    margin: 0 15px;

 }

 a {

    color: #f4f4f4;
    text-decoration: none;

 }

 #acercademi {

    padding: 40px 30px;
    max-width: 800px;
    margin: auto;
    background-color: #1B4079;
    border-radius: 5px;
    margin-top: 20px;
    box-shadow: 0 2px 5px black;
    color: #f4f4f4;


 }

 #experiencia {

    padding: 40px 30px;
    max-width: 800px;
    margin: auto;
    background-color: #1B4079;
    border-radius: 5px;
    margin-top: 20px;
    box-shadow: 0 2px 5px black;
    color: #f4f4f4;

 }

 #contactame {

    padding: 40px 30px;
    max-width: 800px;
    margin: auto;
    background-color: #1B4079;
    border-radius: 5px;
    margin-top: 20px;
    box-shadow: 0 2px 5px black;
    color: #f4f4f4;


 }

 h2 {

    color: rgb(15, 15, 13);
    text-align: center;

 }

 p {

    text-align: center;

 }

 .imagen {

    height: 170px;
    width: 130px;
    margin-left: 340px;
    border-radius: 50%;
 }

 footer {

    background-color: #333;
    color: #f4f4f4;
    text-align: center;
    margin-top: 40px;
    padding: 15px;

 }